<div class="col-sm-3 col-md-2 ">
    <ul class="nav nav-sidebar">
        <li>
            <a auto="active" href="/post">发表博客</a>
        </li>
        <li>
            <a auto="active" href="/my_post/1">我的博客</a>
        </li>
        <li>
            <a auto="active" href="/my_guanzhu">我的关注</a>
        </li>
    </ul>
</div>