<%- include header %>
<%- include headerbar %>
<div class="row">
    <%- include menu %>
    <div class="col-md-10">
        <form method="post" action="/post">
            标题：<br>
            <input type="text" name="title"><br>
            正文：<br>
            <textarea name="post" cols="100" rows="20"></textarea><br>
            <input type="submit" value="发表">
        </form>
    </div>
</div>
<%- include footer %>






